{% extends "base.html" %}
{% block title %}About Page{% endblock %}
{% block content %}
<div><center><h3>About</h3></center></div>
    <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="text-justify" >
            <p>It was never easier to book a reservation for a fancy restaurant online. 
            In this digital world we found it overwhelming to find a extraordinary restaurant and make it super simple to book.
            In addition to this we scan our database every week and check out the newly registered 
            restaurants in order to maintain an innovative quality of the listed restaurants.
            In order to reserve a table in most cases, we have negotiated a deal with the restaurant
            that your reservations will be prioritized. Because each extravagant restaurant still has 
            one to three backup tables.</p>
        </div>
    </div>
{% endblock %}